# Android/Java
*.iml
.gradle/
local.properties
.idea/
.DS_Store

# Android Studio
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Build
build/
*/build/
.externalNativeBuild/
.cxx/
captures/

# Signing files
*.keystore
*.jks

# Others
*.log
.env
